@charset "utf-8";
/*
 * CSS Document
 * Written by Ryan Yonzon
 * http://ryan.rawswift.com/
 */
 
/*
 * IE hack 
 */
html, body {
	margin:0px;
	overflow:auto; /* hide browser's main scrollbar */
	height:100%; /* make sure we'll use 100% of the page's height */
}

#main_container {
	width:100%; /* make sure we'll use 100% of page's width */
	background-color:#ffffff; /* DO NOT REMOVE THIS; or you'll have issue w/ the scrollbar, when the mouse pointer is on a white space */
	overflow-x: hidden;
	overflow-y: scroll;
}
