
	/*
	Copyright (c) 2007, Yahoo! Inc. All rights reserved.
	Code licensed under the BSD License:
	http://developer.yahoo.net/yui/license.txt
	version: 2.2.0
	*/
	
	/* end of yahoo reset and fonts */
	
	em											{font-style: italic;}
	ul, ol									{margin:10px 0 10px 25px;}
	ol li										{margin:0 0 10px;}

	ul#nav										{position:absolute; top:0; right:0; list-style:none; margin:0; padding:0;}
	ul#nav li									{display:inline; padding:0 0 0 5px;}
	ul#nav li a								{}
	div#content								{}
	.left {float:left;}
	.right {float:right;}
	.clear {clear:both;}
	
	
	/* multiselect styles */
	.multiselect {
		width: 460px;
		height: 100px;
	}
	
	#switcher {
		margin-top: 20px;
	}
	
	form {margin: 0; padding: 0;}
