.column{
	width:49%;
	margin-right:.5%;
	min-height:300px;
	float:left;
}
.column .dragbox{
	margin:5px 2px  20px;
	position:relative;
	border:1px solid #ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.column .dragbox a:link, .column .dragbox a:visited{
	color: #333;
}
.column .dragbox h2{
	margin:0;
	font-size:12px;
	padding:5px;
	background:#949494;
	color:#000;
	border-bottom:1px solid #eee;
	font-family:Verdana;
	cursor:move;
}
.dragbox-content{
	min-height:250px; margin:5px;
	max-height:250px; 
	overflow:auto;
	font-family:'Lucida Grande', Verdana; font-size:0.8em; line-height:1.5em;
}
.column  .placeholder{
	background: #f0f0f0;
	border:1px dashed #ddd;
}
.dragbox h2.collapse{
	background:#f0f0f0 url(../images/collapse.png) no-repeat top right;
}
.dragbox h2 .configure{
	font-size:11px; font-weight:normal;
	margin-right:30px; float:right;
}
.reportfields {
float:left;
width:auto;
height:auto;
margin:5px;	
}