@charset "utf-8";
/* CSS Document */
/* Define the body rules */
body {
	font-family: "Trebuchet MS";
	font-size: 100%;
	color: #666666;
	background-color:#f8f8f8;
	background-repeat:repeat-x;
	background-position: left top;
	margin: 0px;
	padding: 0px;
}
body, html, h1,ul, h2, h3, p,span,td,tr,form,table,thead,tbody {
	margin: 0px;
	padding: 0px;
	/*font-size: 1em;*/
	font-weight: normal;
	background-position: left top;
	vertical-align: top;
}
.clearfloat {
	font-size: 1px;
	line-height: 0px;
	display: block;
	clear: both;
	height: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper {
	width: 100%px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(../images/bg_strip.png);
	background-repeat: repeat-x;
}
.bus {
	background-image: url(../images/bus.png);
	background-repeat:no-repeat;
	padding-left:40px;

	}
.maintenance {
	background-image: url(../images/maintenance.png);
	background-repeat:no-repeat;
	padding-left:40px;
	}
	.routes {
	background-image: url(../images/route.png);
	background-repeat:no-repeat;
	padding-left:40px;
	}
	.schedule {
	background-image: url(../images/schedule.png);
	background-repeat:no-repeat;
	padding-left:40px;
	}
	.terminal {
	background-image: url(../images/bus_terminal.png);
	background-repeat:no-repeat;
	padding-left:40px;
	}
	.prices {
	background-image: url(../images/prices.png);
	background-repeat:no-repeat;
	padding-left:40px;
	}
	.ticketing {
	background-image: url(../images/ticketing.png);
	background-repeat:no-repeat;
	padding-left:40px;
    margin-top:40px;
	}
	.payment {
	background-image: url(../images/payment.png);
	background-repeat:no-repeat;
	padding-left:40px;
	}
	.loyalty {
	background-image: url(../images/loyalty.png);
	background-repeat:no-repeat;
	padding-left:40px;
	}
	.banking {
	background-image: url(../images/banking.png);
	background-repeat:no-repeat;
	padding-left:40px;
	}
	.hr {
	background-image: url(../images/HR.png);
	background-repeat:no-repeat;
	padding-left:40px;
	border:none;
	}
		.bus_hire {
	background-image: url(../images/bus_hire.png);
	background-repeat:no-repeat;
	padding-left:40px;
	border:none;
	}
		.messages {
	background-image: url(../images/messages.png);
	background-repeat:no-repeat;
	padding-left:40px;
	border:none;
	}
		.staff {
	background-image: url(../images/ataff.png);
	background-repeat:no-repeat;
	padding-left:40px;
	border:none;
	}
		.petty_cash {
	background-image: url(../images/petty_cash.png);
	background-repeat:no-repeat;
	padding-left:40px;
	border:none;
	}
	.mobilepayment {
	background-image: url(../images/mobile_payment.png);
	background-repeat:no-repeat;
	padding-left:40px;
	}
		.date {
	float:right;
	font-size:80%;
	background-position:bottom;
	background-repeat:no-repeat;
	padding-top:60px;
	padding-left:5px;
	margin-right:0px;
	margin-bottom:10px;
	}
#header {
	width:1028px;
	margin-right: auto;
	margin-bottom: 42px;
	margin-left: auto;
	padding-left:0;
	padding-top:0px;
	height:85px;
}

#headerlogged {
	width:1278px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top:0px;
	padding-right:5px;
}
#headerlogged p{
float:right;
font-size:75%;
color:#000000;
margin-right:125px;
}
#headerlogged a:link, a:active{
color:#2A86DB;
text-decoration:none
}
#maincontent {
	width: 1038px;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background:#FFFFFF;
	text-align: left;
	height:auto;
}
.midfield {
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background:#FFFFFF;
	text-align: left;
	height:auto;
}
.paddingleftright{
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	background-image: url(../images/menu_bg.png);
	background-repeat:no-repeat;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #2A86DB;
	}
#leftcontent {
	width: 209px;
	float: left;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	border: 1px;
	border-left-style: solid;
	border-left-color: #EAEAEA;
	background-color:#fff;
}
#leftcontent ul {
	text-decoration: none;
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
	display: list-item;
	font-size: 84%;
	color:#333333;
	width: 199px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 1px solid #CCCCCC;
	
}
#leftcontent ul a {
	text-decoration: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#leftcontent li {
	display: block;
	height:25px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom-style: solid;
	border-bottom-color:#CCCCCC;
	list-style-position: inside;
	margin-bottom: 2px;
	border-bottom-width: 1px;
}
#borderbottom{
	border:none;}
	#rightcontentwide{
	width: 99%;
	float: left;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	margin-top: 0px;
	margin-bottom: 10px;
	border: 1px;
	border-left-style: solid;
	border-left-color: #EAEAEA;
	background-color:#FFFFFF;
}
#rightcontent {
	width: 797px;
	float: left;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	margin-top: 0px;
	margin-bottom: 10px;
	border: 1px;
	border-left-style: solid;
	border-left-color: #EAEAEA;
	background-color:#FFFFFF;
}
#tabs a:link, a:active{
text-decoration:none
}
#footer {
	width:86%;
	padding-left:14%;
	padding-top:25px;
	height:43px;
	background-image: url(../images/foota_repeater.png);
	background-repeat:repeat-x;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color:#FFFFFF;
}
.long_input{
   background:#FFF;
   width: 250px;
   padding: 2px;
   border: 1px solid #ccc;
   height: 20px;
   margin-bottom:2px;
	}
	.short_input{
   background:#FFF;
   width: 140px;
   padding: 2px;
   border: 1px solid #ccc;
   height: 20px;
   margin-bottom:2px;
	}
	.short_input:hover{
   border: 1px solid #FFF;
   box-shadow: 0 0 3px 2px #2A86DB;
  -webkit-box-shadow: 0 0 3px 2px #2A86DB;
  -moz-box-shadow: 0 0 3px 2px #2A86DB;
}
.long_input:hover{
   border: 1px solid #FFF;
   box-shadow: 0 0 3px 2px #2A86DB;
  -webkit-box-shadow: 0 0 3px 2px #2A86DB;
  -moz-box-shadow: 0 0 3px 2px #2A86DB;
}
#long_inputdate{
   background:#FFF;
   width: 250px;
   padding: 2px;
   border: 1px solid #ccc;
   height: 20px;
   margin-bottom:2px;
	}
#long_inputdate:hover{
   border: 1px solid #FFF;
   box-shadow: 0 0 3px 2px #2A86DB;
  -webkit-box-shadow: 0 0 3px 2px #2A86DB;
  -moz-box-shadow: 0 0 3px 2px #2A86DB;
}
#long_inputdate1{
   background:#FFF;
   width: 250px;
   padding: 2px;
   border: 1px solid #ccc;
   height: 20px;
   margin-bottom:2px;
	}
#long_inputdate1:hover{
   border: 1px solid #FFF;
   box-shadow: 0 0 3px 2px #2A86DB;
  -webkit-box-shadow: 0 0 3px 2px #2A86DB;
  -moz-box-shadow: 0 0 3px 2px #2A86DB;
}
#long_input{
   background:#FFF;
   width: 250px;
   padding: 2px;
   border: 1px solid #ccc;
   height: 20px;
   margin-bottom:2px;
	}
	#long_input:hover{
   border: 1px solid #FFF;
   box-shadow: 0 0 3px 2px #2A86DB;
  -webkit-box-shadow: 0 0 3px 2px #2A86DB;
  -moz-box-shadow: 0 0 3px 2px #2A86DB;
}
h2{ color:#2A86DB; font-size:1em; font-weight:bold;}
.red{
	color:#FF0000;
	}
.title{
margin-left:10px;
color:#000000;
font-size:1.2ems;
font-weight:600;
margin-top:15px;
margin-bottom:10px;}

#footer p{
float:right;
color:#FFFFFF;
margin-right:125px;
}
.update {
padding:5px;
font-size:120%;
}

.bold{
color:#000000;
font-size:1.2ems;
font-weight:400;
}
 #login_form {
	width: 600px;
	background: #f0f0f0 url(images/login_bg.jpg) repeat-x 0 0;
	border: 1px solid black;
	margin: 250px auto 0;
	padding: 1em;
	-moz-border-radius: 3px;
}

.labels{font-size:0.9em;
font-weight:400;}
select{
   background:#FFF;
   width: 260px;
   padding: 3px;
   border: 1px solid #ccc;
   height: 35px;
   margin-bottom:2px;
	}
	select:hover{
   border: 1px solid #FFF;
   box-shadow: 0 0 3px 2px #2A86DB;
  -webkit-box-shadow: 0 0 3px 2px #2A86DB;
  -moz-box-shadow: 0 0 3px 2px #2A86DB;
}
.smallselect{
   background:#FFF;
   width: 140px;
   padding: 3px;
   border: 1px solid #ccc;
   height: 35px;
   margin-bottom:2px;
	}
	.smallselect:hover{
   border: 1px solid #FFF;
   box-shadow: 0 0 3px 2px #2A86DB;
  -webkit-box-shadow: 0 0 3px 2px #2A86DB;
  -moz-box-shadow: 0 0 3px 2px #2A86DB;
}
input[type=submit] {
	border: none;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	background: #2A86DB;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;

}
input[type=reset] {
	border: none;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	background: #2A86DB;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;

}


input[type=submit]:hover, form a:hover {
	background: #2A86DB;
	cursor: pointer;
}
#tabs {
    font-size: .9em;
    margin: 0 auto;
    width: 795px;
}
 
.ui-widget-content {
    font-size: .8em;
}
 
#records {
    font-size: 1em;
    width: 100%;
}
 
#records tr:nth-child(2n) {
    background: #EAEAEA;
}
 
#records tr:hover {
    background: #CCCCCC;
}
 
#records td {
    padding: 6px;
    margin: 8px;
}
table.table1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
		border-top: 1px solid #efefef;
		border-left: 1px solid #efefef;
		border-right: 1px solid #efefef;
		padding:0px;
}
tr.yellow td {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	}

td {
	border-bottom: 1px solid #efefef;
	padding: 0 0.5em;
	/* border-right: 1px solid #ACACAC;*/
	}
.table1 thead th{
    color:#FFFFFF;
	background-color:#999999;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	 border-right: 1px solid #ACACAC;
}
.table1 thead th:empty{
    background:transparent;
    border:none;
}
.table1 tbody th{
    padding:1px;
    color:#FFFFFF;
	padding-top:5px;
	padding-bottom:5px;

}
.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    padding:10px 0px;

}
.table1 tfoot th{
    color:#666;
}
.table1 tbody td{
padding:5px;
    color:#666;

}

#tabs {
	  overflow: hidden;
	  width: 100%;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  border-bottom: 2px solid #2A86DB;
	}
	.booked{background-color: #F6F6F6; padding:3px; width:50px; height:20px; border: 1px solid #808080; margin-right:5px; color:#666666;}
.notbooked{background-color: #FFD274; padding:3px; width:50px; height:20px; border: 1px solid #E89C00; margin-right:5px; color:#666666;}
#basi a:link,a:visted{color: #666666; text-decoration:none;}
#basi a{color: #666666; text-decoration:none;}
	#tabs li {
	  float: left;
	  margin: 0 -15px 0 0;
	}

	#tabs a {
	  float: left;
	  position: relative;
	  padding: 0 10px;
	  height: 0;
	  line-height: 30px;
	  font-size:80%;
	  text-decoration: none;
	  color: #fff;      
	  border-right: 30px solid transparent;
	  border-bottom: 30px solid #3D3D3D;
	  border-bottom-color: #777\9;
	  opacity: .5;
	  filter: alpha(opacity=30);      
	}

	#tabs a:hover,
	#tabs a:focus {
	  border-bottom-color: #2ac7e1;
	  opacity: 1;
	  filter: alpha(opacity=100);
	}

	#tabs a:focus {
	  outline: 0;
	}

	#tabs #current {
	  z-index: 3;
	  border-bottom-color: #2A86DB;
	  opacity: 1;
	  filter: alpha(opacity=100);      
	}
		#content {
	    background: #fff;
	    border-right: 1px solid #ACACAC;
		border-bottom: 1px solid #ACACAC;
		border-left: 1px solid #ACACAC;
	    padding: 0.5em;

	}
			#basi {
	    background: #efefef;
	}

	#content h2,
	  #content h3,
	  #content p {
	    margin: 0 0 15px 0;
	} 
/* global */
div.ui-cluetip {
  font-size: 1em;
}
.ui-cluetip-header,
.ui-cluetip-content {
  padding: 12px;
}
.ui-cluetip-header {
  font-size: 1em;
  margin: 0;
  overflow: hidden;
}

.cluetip-title .cluetip-close {
  float: right;
  position: relative;
}
.cluetip-close img {
  border: 0;
}

#cluetip-waitimage {
  width: 43px;
  height: 11px;
  position: absolute;
  background-image: url(images/wait.gif);
}
.cluetip-arrows {
  display: none;
  position: absolute;
  top: 0;
  left: -11px;
  width: 11px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: 0 0;
  border-width: 0;
}
.cluetip-extra {
  display: none;
}

/***************************************
   =cluetipClass: 'default'
-------------------------------------- */

.cluetip-default,
.cluetip-default .cluetip-outer {
  background-color: #d9d9c2;
}
.cluetip-default .ui-cluetip-header {
  background-color: #87876a;
}


/*
.cluetip-default #cluetip-outer {
  position: relative;
  margin: 0;
  background-color: #d9d9c2;
}
.cluetip-default h3#cluetip-title {
  margin: 0 0 5px;
  padding: 8px 10px 4px;
  font-size: 1.1em;
  font-weight: normal;
  background-color: #87876a;
  color: #fff;
}
.cluetip-default #cluetip-title a {
  color: #d9d9c2;
  font-size: 0.95em;
}
.cluetip-default #cluetip-inner {
  padding: 10px;
}
.cluetip-default div#cluetip-close {
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}
*/
/* default arrows */
div.cluetip-default .cluetip-arrows {
  border-width: 0;
  background: transparent none;
}
div.clue-right-default .cluetip-arrows {
  background-image: url(images/darrowleft.gif);
}
div.clue-left-default .cluetip-arrows {
  background-image: url(images/darrowright.gif);
  left: 100%;
  margin-right: -11px;
}
div.clue-top-default .cluetip-arrows {
  background-image: url(images/darrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  width: 22px;
  height: 11px;
}
div.clue-bottom-default .cluetip-arrows {
  background-image: url(images/darrowup.gif);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  width: 22px;
  height: 11px;
}

/***************************************
   =cluetipClass: 'jtip'
-------------------------------------- */
.cluetip-jtip {
  background-color: #fff;
}
.cluetip-jtip .cluetip-outer {
  border: 2px solid #ccc;
  position: relative;
  background-color: #fff;
}

.cluetip-jtip .cluetip-inner {
  padding: 5px;
  display: inline-block;
}
.cluetip-jtip div.cluetip-close {
  text-align: right;
  margin: 0 5px 0;
  color: #900;
}

.cluetip-jtip .ui-cluetip-header {
  background-color: #ccc;
  padding: 6px;
/*  margin-bottom: 1em;*/
}

/* jtip arrows */
div.cluetip-jtip .cluetip-arrows {
  border-width: 0;
  background: transparent none;
}
div.clue-right-jtip .cluetip-arrows {
  background-image: url(images/arrowleft.gif);
}
div.clue-left-jtip .cluetip-arrows {
  background-image: url(images/arrowright.gif);
  left: 100%;
  margin-right: -11px;
}
div.clue-top-jtip .cluetip-arrows {
  background-image: url(images/arrowdown.gif);
  top: 100%;
  left: 50%;
  width: 22px;
  height: 11px;
  margin-left: -11px;
}
div.clue-bottom-jtip .cluetip-arrows {
  background-image: url(images/arrowup.gif);
  top: -11px;
  left: 50%;
  width: 22px;
  height: 11px;
  margin-left: -11px;
}

/***************************************
   =cluetipClass: 'rounded'
-------------------------------------- */
.cluetip-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.cluetip-rounded .cluetip-outer {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
}

.cluetip-rounded  .cluetip-arrows {
  border-color: #ccc;
}

/* need to be more specific here to override ThemeRoller defaults */
div.cluetip-rounded  .cluetip-arrows {
  font-size: 0;
  line-height: 0%;
  width: 0;
  height: 0;
  border-style: solid;
  background: transparent none;
}
div.clue-right-rounded .cluetip-arrows {
  border-width: 11px 11px 11px 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
div.clue-left-rounded .cluetip-arrows {
  left: 100%;
  margin-right: -11px;
  border-width: 11px 0 11px 11px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;

}
div.clue-top-rounded .cluetip-arrows {
  top: 100%;
  left: 50%;
  border-width: 11px 11px 0 11px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.clue-bottom-rounded .cluetip-arrows {
  top: -11px;
  left: 50%;
  border-width: 0 11px 11px 11px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;

}
/* stupid IE6 HasLayout hack */
.cluetip-rounded .cluetip-title,
.cluetip-rounded .cluetip-inner {
  zoom: 1;
}

.seatreturn 
{
	display:block;
}

.seatreturn a:link, .seatreturn a:visited,  
{
	color:#2A86DB;
	text-decoration:none;
}

.seatreturn a:hover, .seatreturn a:active
{
	color:#2A86DB;
	text-decoration:none;
}
	
